body {
    background-color: #f9e5bc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4CAF50;
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p.mood img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #FF5733;
    font-family: 'Georgia', serif;
    margin-top: 30px;
}

hr {
    border: 0;
    border-top: 2px solid #333333;
    margin: 20px 0;
}

.button {
    display: inline-block;
    border: 2px solid #FF5733;
}
